<nav id="sidebar" class="sidebar">
  <div class="sidebar-content">
    <perfect-scrollbar>

      <div class="sidebar-profile" *ngIf="sidebarService.user">
        <div class="user-pic">
          <img class="img-responsive img-rounded" [src]="sidebarService.user.photo" alt="User picture">
        </div>
        <div class="user-info">
          <span class="user-name">
            <strong>@{{sidebarService.user.username}}</strong>
          </span>
          <span class="user-role">{{sidebarService.user.name}}</span>
          <span class="user-status">
            <span>{{sidebarService.user.email}}</span>
          </span>
        </div>
      </div>
      <div class="sidebar-search">
        <div>
          <div class="input-group">
            <input type="text" class="form-control search-menu" placeholder="Search... (To Do)">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="sidebar-menu">
        <ul>
          <li *ngFor="let menu of menus" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
            menu.routerLink === '/'}"
            [ngClass]="{ 'sidebar-dropdown':menu.type === 'dropdown' , 'header-menu':menu.type === 'header'}">
            <span *ngIf="menu.type === 'header'">{{menu.title}}</span>
            <a *ngIf="menu.type === 'dropdown'" (click)='toggle(menu)'>
              <i class="{{menu.icon}}"></i>
              <span>{{menu.title}}</span>
              <span *ngIf="menu.badge" class="badge badge-pill" [ngClass]="menu.badge.class">{{menu.badge.text}}</span>
            </a>
            <a *ngIf="menu.type !== 'dropdown' && menu.type !== 'header'" [routerLink]="menu.routerLink"
              (click)='toggle(menu)'>
              <i class="{{menu.icon}}"></i>
              <span>{{menu.title}}</span>
              <span *ngIf="menu.badge" class="badge badge-pill" [ngClass]="menu.badge.class">{{menu.badge.text}}</span>
            </a>
            <div *ngIf="menu.type === 'dropdown'" class="sidebar-submenu" [@slide]="getState(menu)">
              <ul>
                <li *ngFor="let submenu of menu.submenus" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
                  submenu.routerLink === '/tags'}">
                  <a [routerLink]="submenu.routerLink"> {{submenu.title}}
                    <span *ngIf="submenu.badge" class="badge badge-pill"
                      [ngClass]="submenu.badge.class">{{submenu.badge.text}}</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </perfect-scrollbar>
  </div>
  <div class="sidebar-footer">

    <div>
      <div>
        &copy; 2020, All rights reserved.
      </div>
    </div>
  </div>
</nav>