<div class="analytics mb-2">
  <h3 *ngIf="!loading">
    {{opinionsCount}}
  </h3><strong>{{'opinions by others' | uppercase}}</strong>
</div>

<div infinite-scroll [infiniteScrollDistance]="scrollDistance" [infiniteScrollThrottle]="throttle"
  (scrolled)="onScrollEnd()">
  <app-opinion-item *ngFor="let opinion of opinions" [opinion]="opinion">
  </app-opinion-item>
</div>

<div class="d-flex justify-content-center" *ngIf="loading">
  <span class="spinner-border"></span>
</div>
<div class="d-flex justify-content-center py-3" *ngIf="opinionsEnd && !loading">No more data</div>