<div class="row">
  <div class="col-xs-12 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <h2 style="margin-top: 50px;">{{isLogin ? 'Sign In' : 'Register'}}</h2>
      <hr>
      <div class="row">
        <div class="col-xs-12 col-sm-8 offset-sm-2">
          <button class="btn btn-block google-btn" type="button"> Continue with Google+</button>
        </div>
      </div>
      <p style="text-align:center; margin-top: 15px;"> OR </p>
      <!-- <div class="alert alert-danger">
        This is a danger alert—check it out!
      </div> -->
      <div class="form-group" *ngIf="!isLogin">
        <label for="name">Name</label>
        <input type="text" class="form-control"
          [ngClass]="{'is-invalid': name.invalid && (name.dirty || name.touched)  }" id="name"
          placeholder="Enter Full Name" formControlName="name">
        <div class="invalid-feedback" *ngIf="name.errors">
          <span *ngIf="name.errors.required">Name is required. </span>
        </div>
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control"
          [ngClass]="{'is-invalid': username.invalid && (username.dirty || username.touched)}" id="username"
          placeholder="Enter Username" formControlName="username">
        <div class="invalid-feedback" *ngIf="username.errors">
          <span *ngIf="username.errors.required">Username is required. </span>
        </div>
      </div>
      <div formGroupName="passwords">
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control"
            [ngClass]="{'is-invalid': password.invalid && (password.dirty || password.touched)}" id="password"
            placeholder="Password" formControlName="password">
          <div class="invalid-feedback" *ngIf="password.errors">
            <span *ngIf="password.errors.required">Password is required. </span>
          </div>
        </div>
        <div class="form-group" *ngIf="!isLogin">
          <label for="password2">Confirm Password</label>
          <input type="password" class="form-control"
            [ngClass]="{'is-invalid': password2.invalid && (password2.dirty || password2.touched)}" id="password2"
            placeholder="Password" formControlName="password2">
          <div class="invalid-feedback" *ngIf="password2.errors">
            <span *ngIf="password2.errors.required">Password confirmation is required. </span>
          </div>
        </div>
      </div>
      <div class="form-group" *ngIf="!isLogin">
        <label for="photo">Photo URL</label>
        <input type="text" class="form-control" id="photo" placeholder="Enter photo url" formControlName="photo">
      </div>
      <div>
        <button class="btn btn-success" type="submit">{{isLogin ? 'Sign In' : 'Register' }}</button>
      </div>
      <div [ngStyle]="{margin: '10px'}"></div>
      <p *ngIf="isLogin; else register">
        Don't have an account? <a routerLink="/register">Create new account</a>
      </p>
      <ng-template #register>
        <p>
          Have an account? <a routerLink="/sign-in">Go to login</a>
        </p>
      </ng-template>

    </form>

  </div>
</div>