<div>
  <h2>Help and FAQs</h2>
</div>
<hr>
<accordion [isAnimated]="true">
  <accordion-group heading="What is the purpose of this site?">
    This site hopes to collect amazing list of courses (videos, blogs or anything) found online, backed up by learners
    who
    found those courses amazing.
  </accordion-group>
  <accordion-group heading="How should I use this site?">
    <p>There are only two ways you could use this site.</p>
    <ol>
      <li>
        You are looking to learn something new. <br>
        Enter your query in search box. Then, find out amazing resources you want to learn from.
      </li>
      <li>
        You want to share your opinion on a course. <br>
        Share your opinion on already existing course. If the course does not exist, post the course along with your
        opinion.
      </li>
    </ol>
  </accordion-group>
  <accordion-group heading="I cannot edit the course I posted?">
    <p>Only editing of your opinion for course is allowed. Once you post the course, editing will be handled by
      community. This feature hasn't been implemented yet. So, double check before posting a course.</p>
  </accordion-group>
  <accordion-group heading="What are your plans for the future of this site?">
    <p>
      I plan to implement following features as implemented in other community sites.
    </p>
    <ol>
      <li>
        Reward for posting course, expressing your opinion, helping community grow (similar to karma in reddit, points
        and badges in stack overflow)
      </li>
      <li>
        Implementing upvotes.
      </li>
      <li>
        Implementing followers system, where you can follow post, tag or people.
      </li>
    </ol>
    <br>
    <p>
      Other things that can enrich this site can be:
    </p>
    <ol>
      <li>
        Users will be able to create a specialization, where they can combine multiple courses and create a curriculum.
      </li>
      <li>
        Using Web Scraping and Natural Language Processing, we could extract out information from the course webpage to
        enrich
        our search.
      </li>
    </ol>
  </accordion-group>
  <accordion-group heading="What are the technologies you used in this project?">
    <ol>
      <li>NestJs</li>
      <li>MongoDB</li>
      <li>Angular</li>
      <li>Bootstrap</li>
      <li>Deployed on Heroku (free version)</li>
      <li>Used MongoDB Atlas (free version)</li>
      <li>Github (Private Remote Repository)</li>
      <li>Travis CI</li>
      <li>Docker (in testing &and; deployment)</li>
    </ol>
  </accordion-group>
  <accordion-group heading="I want to contribute, where can I find you?">
    <p>
      This is my twitter username
      <a href="https://twitter.com/SabbiuShah">@SabbiuShah</a> or email me at
      <a href="mailto:ssabbiu@gmail.com">ssabbiu@gmail.com</a>
    </p>
  </accordion-group>
</accordion>